include html/jade-helpers.jade
doctype html
head
  title e2
  meta(name="description", content="description")
  include html/meta.jade
  script(src="js/libs/modernizr.js")
  link(rel="stylesheet", href="style/style.css")


body#e2
  div.container
    canvas#canvas



  script(src="js/main.js")
  script(src="js/canvas.js")
</html>
